Html {
box-sizing: border-box;
font-family: "Cambria", serif;
font-size: 16px;
line-height: 2.5rem;
}

/*header*/

.mobile-header {
  display: none
}

.desktop-header {
  display:flex;

  height: 4rem;
}

.header-container {
  display: flex;
  flex-direction: row;
  width: 100%;

}

logo {
  display: inline-flex;
  align-items: center;
  width: 100%;
  margin-left: 1.5rem;
}

logo img {
  height: 3rem;
}

h1 {
  font-family: "Arial Narrow", sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
}

h1 span {
  font-weight: lighter;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 1.5rem;

}

nav {
  font-family: "Arial", sans-serif;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-right: 24px;
  width: 380px;

}

li {
  text-decoration: none;
}

/*Banner*/

.banner-container {
  display: flex;
  flex-direction: row;
  background-color: rgba(232, 232, 232, 1);

}

.banner-container img {
  max-width: 60%;
  padding: 2rem 1.5rem;
}

.banner-text {
  width: 30%;

  margin-top: 8rem;
}

h2 {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3rem;
  padding-bottom: 1.5rem;

}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 2rem;

}

button {
  color: white;
  background-color: black;
  font-size: 1.5rem;
  padding: .5rem;
  width: 100%;
}

/*Campus Info*/

.campus-container, .exhibits-container {
  display: flex;
  width: 100%;
}

.campus-lg-frame, .exhibits-lg-frame {
  display: flex;
  flex-direction: column;
  width: 60%;

}

.campus-lg-frame img {
  padding: 2rem 1.5rem;
  }

.campus-main, .exhibits-main {
  margin-left: 1.5rem;
}

p {
  line-height: 1.5rem;

}

h4 {
  font-family: "Arial", sans-serif;
  font-size: .8rem;
  line-height: 0;
  padding-top: 1.5rem;
  padding-bottom: 2rem;

}

.campus-sm-frame, .exhibits-sm-frame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 40%;

  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
  }

.campus-info, .campus-info2, .exhibits-info, .exhibits-info2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1rem;

}

.desktop-img, .exhibits-img {
  width: 35%;
  padding: 1rem;

}

.mobile-img {
  display: none;
}

.campus-info2, .courses-title, .courses-container, .exhibits-info {
  background-color: rgba(232, 232, 232, 1);
}

h5 {
  font-family: "Arial", sans-serif;
  font-size: 1.5rem;
  padding-bottom: .5rem;
}

a {
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*Courses Info (see campus css too)*/
.courses-title, .exhibits-title {
  padding-top: 2rem;
  padding-bottom: .5rem;
  text-align: center;
  width: 100%;
}

.courses-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 2rem;

}

.courses {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  padding-bottom: 2rem;
  width: 30%;
}

.course-software, .course-comp-art, .course-design, .course-data, .course-business, .course-marketing {
  margin-top: -2px;
  background-color: white;
  padding: 1rem 0 2rem 1rem;
}

/*Thesis Exhibits (much is duplicates of Campus Info )*/
.exhibit-title h2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.exhibits-video {
  max-width: 60%;

}

.exhibits-sm-frame {
  margin-top: 0;
}
.exhibits-main {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

/*Footer*/

.footer-container {
  display: flex;
  flex-direction: row;
  margin-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  width: 100%;

}

footer {
  font-family: "Arial", sans-serif;
  width: 60%;
}

.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  list-style: none;
  margin-right:1rem;
}

.footer-list span {
  text-decoration: none;
}

/*Mobile Devices*/

@media only screen and (max-width: 640px) {
  .desktop-header {
    display: none;
}

  .mobile-logo {
    display: inline-flex;
    align-items: center;
    margin-left: 24px;

}

  .mobile-header-container {
    display: inline-flex;
    width: 100%;

}

  .mobile-header {
    display: inline-flex;
    width: 100%;
    height: 64px;

}

  .mobile-nav {
    display: inline-flex;
    flex-direction: row;

}

  .mobile-nav img {
    padding-right: 24px;
    padding-left: 24px;
}

  .banner-container {
    display: flex;
    flex-direction: column;
}
  .banner-container img {
    max-width: 100%;
    margin-bottom: 2rem;
    padding: 0;
}

  .banner-text {
    width: 100%;
    padding-top: 0;
    margin-top: 0;
}

  button {
    margin: 0rem 1rem 2rem 1rem;
    background-color: rgba(108, 122, 137, 1);
}

h2 {
    margin: 2rem 1rem;
    padding: 0;
}

h3 {
  margin: 0 1rem 1.5rem 16px;
  padding: 0;
}

.campus-lg-frame {
  display: none;
}

.campus-info, .campus-info2 {
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
}

.campus-info {
  margin-bottom: 4rem;
}

.campus-info2 {
  margin-bottom: 2rem;
}
.campus-container, .campus-sm-frame {
  flex-direction: column;
  max-width: 100%;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.desktop-img {
  display: none;
}

.mobile-img {
  display: flex;
  flex-direction: column;
  width: 100%;
}

h5 {
  padding-top: 1.5rem;
  padding-left: 1rem;
}

p, a {
  padding-left: 1rem;
  padding-bottom: .5rem;
}

.courses-title {
  text-align: center;
  width: 100%;
  background-color: white;
}

.courses-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0;
  background-color: white;
}

.courses {
  width: 100%;
  padding: 1rem 1rem 1.5rem 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0;
}

.courses img {
  display: none;
}

.courses p {
  display: none;
}

.course-software, .course-comp-art, .course-design, .course-data, .course-business, .course-marketing {
  display: flex;
  background-color: rgba(232, 232, 232, 1);
  margin-right: 4rem;
}

.exhibit-title h2 {
  padding-bottom: 0;
}

.exhibits-lg-frame, .exhibits-video, .exhibits-main {
  width: 100%;
  margin: 0;
}

.exhibits-sm-frame, .exhibits-main {
  display: none;
}

.footer-container {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

footer {
  font-family: "Arial", sans-serif;
}

.footer-list {
  display: none;
}
