Html {
box-sizing: border-box;
font-family: "Times New Roman", serif;
font-size: 16px;
line-height: 2.5rem;
}

/*header*/

.mobile-header {
  display: none
}

.desktop-header {
  display:flex;
  border: black 1px solid;
  height: 4rem;
}

.header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: black 1px solid;
}

logo {
  display: inline-flex;
  align-items: center;
  width: 100%;
  margin-left: 1.5rem;
}

logo img {
  height: 3rem;
}

h1 {
  font-family: "Arial Narrow", sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
}

h1 span {
  font-weight: lighter;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 1.5rem;
  border: black 1px solid;
}

nav {
  font-family: "Arial", sans-serif;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-right: 24px;
  width: 380px;
  border: black 1px solid;
}

li {
  text-decoration: none;
}

/*Banner*/

.banner-container {
  display: flex;
  flex-direction: row;
  background-color: rgba(210, 180, 140, 0.5);
  border: black 1px solid;
}

.banner-container img {
  max-width: 60%;
  padding: 2rem 1.5rem;
}

.banner-text {
  width: 30%;
  border: black 1px solid;
  margin-top: 8rem;
}

h2 {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3rem;
  padding-bottom: 1.5rem;
  border: black 1px solid;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  border: black 1px solid;
}

button {
  color: white;
  background-color: black;
  font-size: 1.5rem;
  padding: .5rem;
  width: 85%;
}

/*Campus Info*/

.campus-container {
  display: flex;
}

.campus-lg-frame {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  border: black 1px solid;
}

.campus-lg-frame img {
  padding: 2rem 1.5rem;
  }

.campus-main {
  margin-left: 1.5rem;
}

p {
  line-height: 1.5rem;
  border: black 1px solid;
}

h4 {
  font-family: "Arial", sans-serif;
  font-size: .8rem;
  line-height: 0;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  border: black 1px solid;
}

.campus-sm-frame {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  border: black 1px solid;
  margin-left: 1rem;
  margin-top: 2rem;
}

.campus-info {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  width: 100%;
  border: black 1px solid;
}

.campus-info img {
  width: 35%;
  padding: 1rem;
  border: black 1px solid;
}

.campus-info2 {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  width: 100%;
  background-color: rgba(210, 180, 140, 0.5);
  border: black 1px solid;
}

.campus-info2 img {
  width: 35%;
  padding: 1rem;
  border: black 1px solid;
}
h5 {
  font-family: "Arial", sans-serif;
  font-size: 1.5rem;
  padding-bottom: .5rem;
}

a {
  font-family: "Arial Narrow", sans-serif;
  font-size: 1rem;
  padding-top: .5rem;

}
/*Mobile Devices*/

@media only screen and (max-width: 640px) {
  .desktop-header {
    display: none;
  }

  .mobile-logo {
    display: inline-flex;
    align-items: center;
    margin-left: 24px;
    border: black 1px solid;
  }

  .mobile-header-container {
    display: inline-flex;
    width: 100%;
    border: black 1px solid;
  }

  .mobile-header {
    display: inline-flex;
    width: 100%;
    height: 64px;
    border: black 1px solid;
  }

  .mobile-nav {
    display: inline-flex;
    flex-direction: row;
    border: black 1px solid;
  }

  .mobile-nav img {
    padding-right: 24px;
    padding-left: 24px;
  }

  .banner-container {
    display: flex;
    flex-direction: column;
}
  .banner-container img {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2rem;
    }
  .banner-text {
    width: 100%;
    padding-top: 0;
    padding-left: 16px;
  }
  button {
    margin: 24px 16px 32px 16px;
  }
  h2 {
    margin: 32px 16px;
  }
  h3 {
    margin: 32px 16px;
  }
}
